# {{ ansible_managed }}
{% for configs in awscliconf_valid_config_file %}
[{{ configs.name }}]
region = {{configs.region | default("us-east-1")}}
output = {{configs.output | default("json")}}
{% endfor %}
