# {{ ansible_managed }}
{% for credentials in awscliconf_valid_credentials_file -%}
[{{ credentials.profile }}]
aws_access_key_id = {{ credentials.aws_access_key_id }}
aws_secret_access_key = {{ credentials.aws_secret_access_key }}
region = {{ credentials.region | default("us-east-1") }}
{%- if credential.aws_session_token is defined -%}
aws_session_token = {{ credential.aws_session_token }}
{%- endif -%}
{%- endfor -%}
