# {{ ansible_managed }}
{% for credentials_dict in awscliconf_valid_credentials_file | from_yaml %}
{% for section, section_values in credentials_dict.items() %}
[{{ section }}]
{% for key  in section_values %}
{{key}} = {{section_values[key]}}
{% endfor %}

{% endfor %}
{% endfor %}
