# {{ ansible_managed }}
{% for credentials_dict in awscliconf_valid_credentials_file | from_yaml %}
{% for section  in credentials_dict %}
[{{ credentials_dict }}]
{% for key in credentials_dict[section] %}
{{key}} = {{section[key]}}
{% endfor %}

{% endfor %}
{% endfor %}
